__pycache__/

# file that have all important and unique keys
config.py

# environtment folder
venv

# file that contains infromation about your mapping Allegro categories with Wszystko.pl categories
mapping_template.py

# files that are unique for users
active_products.py
failed_to_add_products.py

# file for testing purpose
test.py
test_free.py